* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", "Arial", sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.container {
  max-width: 1920px;
  margin: 0px auto;
}

@media (max-width 1920px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width 767px) {
  .container {
    max-width: none;
  }
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f2e9e4;
}

.header-section {
  display: flex;
  align-items: center;
}

.header-item {
  padding: 10px 15px;
  font-size: 20px;
  margin: 0px 75px;
}

.name {
  color: black;
  font-size: 46px;
  margin: 20px 50px;
  font-weight: bold;
}

}

.headerButton {
  cursor: pointer;
}

.card-img  {
  width: 60%;
  margin: 40px;
  display: inline-flex;
  margin-left: 300px;
  
}

.card {
 
}

.card2 {
  width: 1250px;
  background-color: #f2e9e4;
  padding-top: 200px;
  margin: 40px;
  padding-bottom: 30px;
  margin-right: 350px;
}
 
.content {
   display: inline-flex
}

.about {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.card-text {
  font-family: "Poppins";
  margin: 10px;
  text-align: center;
  font-size: 24px;
}

.btn {
  text-align: center;
  margin: 30px;
  background-color: #464343;
  color: white;
  width: 40%;
  margin-left: 185px;
  padding: 20px 0px;
  font-size: 30px;
  font-weight: bold;
}

.threeImg {
  margin-top: 100px;
  text-align: center;
}

.firstImg {
  width: 17%;
  height: 17%;
  margin: 30px;
}
 
.secondImg {
  width: 17%;
  height: 17%;
  margin: 30px;
}

.thirdImg {
  width: 17%;
  height: 17%;
  margin: 30px;
}

.threeTexts {
  display: inline-block;
  text-align: center;
  margin-left: 365px;
}
.descriptionCard {
  width: 320px;
  height: 17%;
  margin: 34px;
  text-align: center;
  margin-top: 0px;
  display: inline-block
  
}

.descriptionHeader {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descriptionText {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  text-align: center;
}

.price {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.background {
  background-color: #F2E9E4
}

.textWithBtn {
  background-color: white;
  width: 500px;
  height: 280px;
  color: black;
  padding-top: 20px;
  text-align: center;
  margin-left: 200px;
  margin-top: 0px;
} 
  
.title {
  font-size: 36;
  font-weight: bold;
  letter-spacing: 0.11em;
}

.insiteText {
  width: 250px;
  text-align: center;
  padding-top: 30px;
  margin-left: 120px;
}

.newBtn {
  margin-left: 140px;
  margin-top: 40px;
  background-color: #464343;
  color: white;
  width: 40%; 
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0px;
}